@font-face {
    font-family: "Galmuri", sans-serif;
    src: url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Galmuri11-Bold", sans-serif;
    src: url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');
    font-weight: 600;
    font-style: normal;
}